@mixin MyFlex() {
  display: flex;
  justify-content: center;
  align-items: center;


}

.reklam{
  background-color: black;
    height: 55vh;
    display: flex;
    h4{
      color: #0F6;
      font-size: 20px;
    }
    h2{
      font-size: 70px;
      max-width: 600px;
      color: white;
    }
  .reklamLeftbox{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 100px;
   justify-content: center;
    .crclesBox{
        display: flex;
        gap: 20px;
        .crcle{
            background-color: white;
            width: 62px;
            height: 62px;
            border-radius: 50px;
            @include MyFlex();
          flex-direction: column;

        }
    }
    .reklamBtnBox{
        .reklamBtn{
          transition: 0.5s;

          background-color: #0F6;
          height: 50px;
          width: 150px;
          @include MyFlex();
          border-radius: 5px;
          p{
            color: white;
          }
        }
        .reklamBtn:hover{
          transition: 0.5s;
          background-color: #ed6060;
        }
    }
  }
  .reklamRightBox{
    background: rgb(237,237,237);
    background: radial-gradient(circle, rgba(237,237,237,1) 0%, rgba(0,0,0,1) 47%, rgba(0,0,0,1) 100%);
    width: 55%;
    height: 100%;
          @include MyFlex();

   img{
    width: 70%;
   }
  }
}