@mixin MyFlex() {
    display: flex;
    justify-content: center;
    align-items: center;


}

#flashSalesSection {
    margin-top: 140px;
    widows: 100%;
    height: 100vh;
    padding: 0px 0px 0px 100px;
  

    .flashSalesUpBox{
        margin-bottom: 50px;
        width: 100%;
        height: 20vh;
        .todaysText{
            width: 200px;
            display: flex;
            gap: 10px;
            @include MyFlex();
            justify-content: start;
            p{
                font-size: 27px;
                color: #DB4444;
            }
        }
        .normalBox{
            background-color: #DB4444;
            width: 40px;
            height: 80px;
            border-radius: 7px;
        }
        .salesTimer{
            // width: 300px;
            display: flex;
            font-size: 30px;
            gap:50px;
            @include MyFlex();
            margin-top: 30px;
            justify-content: start;
        }
    }
    // -----------------------------

    .mySwiper2 {
        .card {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .cardImage {

                background-color: #F5F5F5;
                height: 70%;
                position: relative;
                @include MyFlex();

                .imgHoverBasketCard {
                    background-color: black;
                    width: 100%;
                    height: 50px;
                    position: absolute;
                    bottom: 0;
                    opacity: 0;
                    transition: 0.3s;
                    @include MyFlex();
                    cursor: pointer;

                    button{
                        background-color: transparent;
                        font-size: 22px;
                        color: white;
                        border: none;
                    cursor: pointer;

                    }

                }

                .ProductAdeteAndBtns {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 70%;
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 10px;

                    .cardBtns {
                        display: flex;
                        flex-direction: column;
                        width: 50px;
                        height: 100px;
                        gap: 10px;
                        @include MyFlex();

                        button {
                            background-color: white;
                            cursor: pointer;

                            @include MyFlex();
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            border: none;
                            font-size: 25px
                        }
                    }

                    .abateBox {
                        @include MyFlex();
                        background-color: #DB4444;
                        width: 70px;
                        height: 35px;
                        border-radius: 7px;
                        color: white;
                    }
                }

                img {
                    max-width: 180px;
                    max-height: 180px;
                }
            }
            .cardImage:hover{
                .imgHoverBasketCard{
                    opacity: 1;
                    transition: 0.3s;
                    transform: translateY(-10px);
                }
            }

            .cardText {
                width: 100%;
                height: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 10px;

                .price {
                    color: #DB4444;

                    span {
                        text-decoration: line-through;
                        color: gray;
                        margin-left: 10px;
                    }
                }

                span {
                    color: gray;
                    margin-left: 10px;
                }
            }
        }
    }

    .swiper {
        width: 100%;
        height: 380px;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 18px;
        background-color: white;


        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination-bullet {
        opacity: 0;
    }

    // ------------------------------

    .flashSalesDownBox{
        @include MyFlex();
        padding: 0px 0px 150px;
        border-bottom: 1px solid gray;
        margin-top: 50px;
        button{
            cursor: pointer;
            height: 60px;
            width: 300px;
            background-color: #DB4444;
            border: none;
            color: white;
            font-size: 20px;
            border-radius: 7px;
        }
    }


}